:root {
    --fondo-color: #001f29;

    --primary-color: #05a6dd;
    --primary-color-lighten: #5fd6f2;

    --success-color: #5cb85c;
    --warning-color: #fcd432;
    --error-color: #dc3545;

    --text-transform: uppercase;
    --weight-btn: 600;
    --letter-spacing-btn: 1.5px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font: 100% sans-serif;
    background-color: var(--fondo-color);
    color: var(--primary-color-lighten);
    text-align: center;
}

main {
    height: 100%;
}

.container,section,nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    max-height: 80vh;
    width: 100%;
}