:root {
    --fondo-color: #fff;
    --primary-color: #0bb79e;
    --primary-color-lighten: #a3d339;

    --secondary-color: #fcd432;
    --secondary-color-lighten: #ff9912;
    --tertiary-color: #05a6dd;
    --tertiary-color-lighten: #5fd6f2;

    --success-color: #5cb85c;
    --warning-color: #fcd432;
    --error-color: #dc3545;

    --text-transform-btn: uppercase;
    --weight-btn: 600;
    --letter-spacing-btn: 1.5px;
    --fondo: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font: 100% sans-serif;
}

main {
    height: 100%;
}

.container,section,nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    background-color: var(--fondo-color);
}