#tabla-encabezado {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
#tabla-encabezado th, #tabla-cuerpo td {
    border: 1px solid var(--primary-color);
    padding: 8px;
    text-align: center;
}